# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
uploads
dist
dist-ssr
venv
__pycache__
*.local

# Editor directories and files
.vscode/*
api/PRAS_API/
api/flask_session/*
tls_certs/*
documentation
.env
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
indexdir/*
api/web.config
api/rendered_templates
api/pdf_output
api/db/pras.db
api/db/pras.sqbpro
api/requirements.txt
api/settings.py
indexdir/*
pdf_output/*
db/*
output/*
.vs
package-lock.json
package.json
pytest.ini 
tests/*
api/web.config
api/db/pras_dblite_project
.venv/*
.venv-debug/*