<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" 
                 scriptProcessor="C:\Users\RomanCampbell\repo\react-projects\purchase_request\api\PurchaseReqFlaskAPI\Scripts\python.exe|C:\Users\RomanCampbell\repo\react-projects\purchase_request\api\PurchaseReqFlaskAPI\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" />
        </handlers>
     
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="https://localhost:5002" />
                <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
       
        <appSettings>
            <add key="WSGI_ENVIRONMENT" value="REMOTE_USER" />
        </appSettings>
    </system.webServer>
</configuration>
